.message-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-header div:nth-child(1)
{
    width: 50vw;
}

.message-header div
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.message-header p
{
    color:white;
    font-size: 17px;
    margin-left:3px;
}

.searchbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
}

.searchbar input{
    background-color: #222121;
    border:none;
    padding: 10px;
    width:90vw;
}

.searchbar input::placeholder
{
    color:gray
}

.msg
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.msg
{
    margin-top:10px;
}

.msg-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.msg-content i
{
    color:rgb(103, 98, 98)
}

.msg-content img
{
    padding: 5px;
}

.profile-pic-name
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username-msg
{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}


.chat-messages
{
    height: 82vh;
    overflow: scroll;    
}

.message-input-parent
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-input-child
{
    background-color: #222121;
    padding: 6px;
    width:90vw;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.message-input-field
{
    margin-left: 34px;
    margin-top: -3px;
    width: 50vw;
    padding: 7px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
}

.camera-btn
{
    background-color: rgb(32, 32, 248);
    border-radius: 50%;
    padding: 10px;
    position:absolute;
    margin:0;
    margin-left:-4px;
}

.send-btn
{
    color: purple;
    font-family: Calibri;
    font-size: 18px;
    font-weight: bold;
    margin-top:3px;
    margin-left: 40px;
}
