.message-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-header div:nth-child(1)
{
    width: 50vw;
}

.message-header div
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.message-header span
{
    font-size: 20px;
    margin-top:5px;
    color:red;
}

.searchbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
}

.searchbar input{
    background-color: #222121;
    border:none;
    padding: 10px;
    width:90vw;
}

.searchbar input::placeholder
{
    color:gray
}

.msg
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.msg
{
    margin-top:10px;
}

.msg-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.msg-content i
{
    color:rgb(103, 98, 98)
}

.msg-content img
{
    padding: 5px;
}

.profile-pic-name
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username-msg
{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

