.reel-head
{
    color:white;
    padding:10px;
    z-index: 100;
    position: absolute;
}

.reel-head div
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reel-head i{
    margin-left: 70vw;
    }

.reel-head span{
    font-size:22px;
}

.reel-videos-container{
    touch-action:none;
}

.reel
{
    transition: .5s;
}

.reel video
{
    height: 100vh;
    width:100vw;
    top:0;
    left:0;
    filter: hue-rotate(30deg);
    /* position: absolute; */
    transition: .5s;
}

.mute-unmute-icon
{
   margin-top: 70%;
   margin-left: 43%;
   position: absolute;
   z-index: 2000;  
   transform: scale(0);
   transition: .5s;
}

.mute-unmute-icon i{
    background-color: rgba(0,0,0,.6);
    padding:15px;
    border-radius: 50%;

}

.reel-icons
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right:2%;
    top:45%;
    z-index:2100; 
    align-items: center;
}

.reel-icons i{
    font-size: 23px;
}

.reel-icons img
{
    margin-top:20px;
}

.reel-icons p{
    margin-top: 0px;
    margin-left:5px;
    color:white;
}


.reel-maker-info
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:140%;
    position: absolute;
    z-index: 2100;
    margin-left: 10px;
}

.reel-maker-info div
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reel-maker-info span
{
    padding: 5px;
}


.reel-maker-info button
{
    width:100px;
    border:1px solid white;
    background-color: transparent;
    font-size: 15px;
    padding: 5px ;
    margin-top:-5px;
    border-radius: 5px;
}

.reel-maker-info img{
    border-radius: 50%;
}